<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Just4Fun</title>
    <link rel="stylesheet" href="login/js/bootstrap.min.css">
    <script src="login/js/jquery-1.11.3/jquery.min.js"></script>
    <script src="login/js/bootstrap.min.js"></script>
    <script>
        $('.carousel').carousel({
            interval: 2000
        })
    </script>
</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <h3>Hello, 小倔强 ~ </h3>
            <p>这里除了舒服,什么也没有 ~.~</p>

            <img src="login/img/qq.png" alt="Responsive" class="img-thumbnail">
            <p></p>
            <p align="right"> 你站在桥上看风景，<br>
                看风景的人在楼上看你。<br>
                明月装饰了你的窗子，<br>
                你装饰了别人的梦。<br>
            </p>

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="login/img/qq.png" alt="">
                        <!--<div class="carousel-caption">-->
                            <!--<h1>九寨沟</h1>-->
                            <!--<p>九寨沟国家级自然保护区</p>-->
                        <!--</div>-->
                    </div>
                    <div class="item">
                        <img src="login/img/11.jpg" alt="">
                        <!--<div class="carousel-caption">-->
                            <!--<h1>丽江</h1>-->
                            <!--<p>丽江古城</p>-->
                        <!--</div>-->
                    </div>
                    <div class="item">
                        <img src="login/img/29.jpg" alt="">
                        <!--<div class="carousel-caption">-->
                            <!--<h1>水帘洞</h1>-->
                            <!--<p>桐柏山水帘洞</p>-->
                        <!--</div>-->
                    </div>
                </div>

                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <!--<span class="sr-only">Previous</span>-->
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <!--<span class="sr-only">Next</span>-->
                </a>
            </div>
        </div>
    </div>



</body>
</html>